---
loop: true
interval: 500
count: 31
---

<div id="progress-bar">
    <svg
        width="200"
        height="200"
        viewbox="-25 -25 250 250"
        style="transform: rotate(-90deg)"
    >
        <circle
            r="90"
            cx="100"
            cy="100"
            fill="transparent"
            stroke="#e0e0e0"
            stroke-width="16px"
            stroke-dasharray="565.48px"
            stroke-dashoffset="565px"
        ></circle>
        <circle
            r="90"
            cx="100"
            cy="100"
            fill="transparent"
            stroke="#6bdba7"
            stroke-width="16px"
            stroke-linecap="round"
            stroke-dashoffset="{{ sub 565 ( mul (div 565 30) .LoopIteration) }}px"
            stroke-dasharray="565.48px"
        ></circle>
        <text
            x="44px"
            y="115px"
            fill="#6bdba7"
            font-size="52px"
            font-weight="bold"
            style="transform: rotate(90deg) translate(0px, -196px)"
        >
            {{ if (gt .LoopIteration0 29) }} 100% {{ else }} {{ mul (div 100 30)
            .LoopIteration }}% {{ end }}
        </text>
    </svg>

    {{ if (gt .LoopIteration 30) }}
    <div data-on:click="window.location='/progress/'">
        <!-- When progress is 100% -->
        <button>Completed! Try again?</button>
    </div>
    {{ end }}
</div>
